/*colors:
#21DF95
#29966C 
#DFDB28
#93410F
#DE753B
*/


body{
    background-color: darkslategray;
    margin: 0px;
}   
.contents{
    margin-left: 10px;
    margin-right: 10px;
}

/*Text*/
h{
    font-size: 110%;
    text-align: center;
    color:white;
}
h1{
    color:white;
    font-size: 300%;
}
h2{
    color:white;
}
p{
    color:white;
}

/*Animated Button*/
.animated_button{
    border-radius: 4px;
    padding: 20px;
    border: none;
    background-color:#21DF95;
    color: black;
    font-size: 24px;
    margin: 10px;
    margin-left: 11px;
    height: auto;
    position: relative;
    align-self: center;
}
.animated_button:hover{
    transition: all 0.2s;
    background-color:#29966C;
    cursor: pointer;
}
.animated_button:active{
    transition: 0.1s;
    background-color:white;
}

/*Headbar*/
.header ul{
    z-index:+1;
    display: flex;
    margin:0px;
    padding: 12px;
    padding-bottom: 14px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: black;
    list-style-type: none;
    transform: scaleY(100%);
    position: fixed;
    top:-55px;
    transition: 0.3s;
    border-radius: 4px;
}
.header ul:hover{
    top:0px;
    transition: 0.3s;
}
.header li{
    float: left;
    width: auto;
    color: #21DF95;
    list-style-type: none;    
    background-color: #21DF95;
    padding: 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 20px;
    text-align: left;
    color: black;
}
.header li:hover{
    background-color: #29966C;
    animation: bop 0.5s;
    cursor: pointer;
}
.header li:active{
    transition: 0.1s;
    background-color:white;
}
.header a{
    text-decoration: none;
}
.active li{
    background-color: #DE753B;
}
.active li:hover{
    background-color: #93410F;
    animation: bop 0.5s;
    cursor: pointer;
}
.active li:active{
    transition: 0.1s;
    background-color:white;
}
.header img{
    z-index:+1;
    height: 30px;
    margin-top:13px;
}
@keyframes bop {
    0% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(35deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

.centerbox{
    display: block;
    background-color: #263f3f;
    align-content: center;
    width: auto;
    margin-left: 30px;
    margin-right: 30px; 
}
.boxheader{
    margin: 10px;
    text-align: center;
}
.boxcontents{
    display: inline-block;
    margin: 10%;
    margin-top: 0%;
    text-align: center;
}